.heroCard {
  box-shadow: #dadada 0 0 15px 4px;
  padding: 18px 15px 5px;  
  margin: 20px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.heroCard img {
  width: 180px;
  height: auto;
}

.heroCard h1 {
  padding-top: 4px;
  margin-bottom: 2px !important;
  font-weight: 500;
  font-size: 1.2rem;
}

.heroPowerstats {
  margin-bottom: 5px;
  text-align: left;
}

.left, .right {
  position: absolute;
  font-size: 5rem;
  top: 50%;
  padding: 15px;
  width: 50%;
  display: none;
  cursor: pointer;
}

.left {
  left: 0;
}

.left:hover {
  display: block;
}

.right {
  right: 0;
  color: #0070f3;
}

.right:hover {
  display: block;
}