.heroCard {
  box-shadow: #dadada 0 0 15px 4px;
  padding: 18px 15px 5px;  
  margin: 20px;
  text-align: center;
  box-sizing: border-box;
}

.heroCard img {
  width: 180px;
  height: auto;
}

.heroCard h1 {
  padding-top: 4px;
  margin-bottom: 2px !important;
  font-weight: 500;
  font-size: 1.2rem;
}

.heroPowerstats {
  margin-bottom: 5px;
  text-align: left;
}

